<div ng-controller="menucontroller" ng-init="onload()">




<div class="btn-group btn-group-justified navbar-fixed-bottom" role="group">
  <div class="btn-group" role="group">
    <button type="button" onclick="location.href = '#/';" class="btn btn-primary mybtn">
      <i class="fa fa-home" aria-hidden="true"></i><br>
      My Home
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" onclick="location.href = '#/addtranc';" class="btn btn-primary mybtn">
      <i class="fa fa-plus-circle" aria-hidden="true"></i><br>
      Add Record
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" onclick="location.href = '#/viewdetails';" class="btn btn-primary mybtn">
      <i class="fa fa-bar-chart" aria-hidden="true"></i><br>
      View Report
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" ng-click="tony()" class="btn btn-primary mybtn">
      <i class="fa fa-power-off" aria-hidden="true"></i><br>
      Logout
    </button>
  </div>
</div>




</div>